@font-face {
  font-family: "DOWNCOME";
  src: url("./fonts/DOWNCOME.TTF") format("truetype"); /* Replace 'YourFontFile.ttf' with the actual font file name and extension */
  /* Add additional src lines for other font file formats if necessary */
  /* Example: src: url('./fonts/YourFontFile.woff') format('woff'); */
  /* Example: src: url('./fonts/YourFontFile.woff2') format('woff2'); */
  /* Add more font-face rules for other font files if necessary */
}

/* Optionally, you can define font styles using the font-family */
/* body {
    font-family: 'DOWNCOME', sans-serif;
  } */
